NODE_ENV=development

# ── App ────────────────────────────────────────────────────────────────────────
PORT=4000
CLIENT_URL=http://localhost:5173

# ── IsPro connection ───────────────────────────────────────────────────────────
# 13000 - main DB  |  14000 - test DB
ISPRO_PORT=14000
ISPRO_BASE_URL=http://172.17.21.253

# ── IsPro credentials ──────────────────────────────────────────────────────────
ISPRO_LOGIN=
ISPRO_PASSWORD=
ISPRO_FIRM_CODE=1
